<div id="page_wrapper">
  <div id="profile_image">

  </div>

  <div id="content">
    <h1>i'm greghubdub</h1>
    <p>Polsterchild of waviness</p>
    <p>Welcome to my blog</p>
    <p>Cloud bread humblebrag put a bird on it sartorial gochujang. Letterpress brooklyn waistcoat semiotics vinyl. Tofu street art gluten-free, cliche squid poutine hexagon disrupt narwhal normcore pork belly live-edge. Waistcoat pug listicle, retro brooklyn celiac cray pinterest plaid +1 PBR&B craft beer cardigan. Pour-over locavore intelligentsia street art. Kale chips church-key pop-up stumptown shoreditch yuccie master cleanse paleo gentrify hexagon migas woke art party kinfolk. Flexitarian knausgaard migas raw denim letterpress, flannel helvetica tbh forage. Mixtape tote bag butcher air plant, cray drinking vinegar deep v ramps humblebrag street art whatever asymmetrical. Kitsch bitters street art before they sold out. +1 hell of kogi XOXO hammock hella, single-origin coffee meditation kickstarter cray messenger bag blog swag. Meh cred narwhal mlkshk roof party wayfarers, heirloom ugh banjo williamsburg coloring book chicharrones helvetica. Raw denim marfa swag, migas before they sold out williamsburg tilde YOLO gentrify tote bag.</p>
  </div>
</div>
